HELP.md
.gradle/
.gradle-user-home/
.validation.*.log
build/
target/
out/
.kotlin/

!.gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

.env
.env.*
!.env.example
.github/.env.example
